
<!-- 分区管理模块-->
    <div class="col-md-3">
        <div class="list-group">
          <a href="index.html" class="list-group-item active main-color-bg">
            分区规划
          </a>
          <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> 规模 (户)</span><span class="badge">5000</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 划分依据</span><span class="badge">142</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 管线长度</span><span class="badge">142</span></a>
          <a href="users.html" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"> 分区责任人</span><span class="badge">admin</span></a>
          
        </div>
        
        <div class="list-group">
          <a href="index.html" class="list-group-item active main-color-bg">
            区域设备统计
          </a>
          <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> 设备数量 </span><span class="badge">42</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 用户数量</span><span class="badge">142</span></a>
          
          
        </div>
        
        <div class="list-group">
          <a href="index.html" class="list-group-item active main-color-bg">
            分区交叉点分析
          </a>
          <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> 管线交点 </span><span class="badge">42</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 分区边界交点</span><span class="badge">142</span></a>
          
          
        </div>
        
        <div class="list-group">
          <a href="index.html" class="list-group-item active main-color-bg">
            用户挂接
          </a>
          <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> 关联用户 </span><span class="badge">42</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 关联设备</span><span class="badge">142</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 统计水量</span><span class="badge">142</span></a>
          
        </div>
        
        <div class="list-group">
          <a href="index.html" class="list-group-item active main-color-bg">
            分区方案
          </a>
          
        </div>
        
        <div class="list-group">
          <a href="index.html" class="list-group-item active main-color-bg">
            DMA建设总览
          </a>
          
        </div>
        
        
    </div>
    
    <!-- 分区营运模块(在线监测模块) -->
    <div class="col-md-3">
        <div class="list-group">
          <a href="index.html" class="list-group-item active main-color-bg">
            区内流量/压力/噪音检测
          </a>
          <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> 入口流量/压力</span><span class="badge">5000</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 阀后压力</span><span class="badge">142</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true">最不利点压力</span><span class="badge">142</span></a>
          
          
        </div>
        
        <div class="list-group">
          <a href="index.html" class="list-group-item active main-color-bg">
            区内数据分析
          </a>
          <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> 夜间最小流量分析 </span><span class="badge">42</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 漏损计算/排序</span><span class="badge">142</span></a>
          <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> 水平衡计算 </span><span class="badge">42</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 压力评估</span><span class="badge">142</span></a>
          <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> 监控报警 </span><span class="badge">42</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 设备预警/预报</span><span class="badge">142</span></a>
          
        </div>
        
        
        
        
    </div>
    
    <!-- 分区计量模块 -->
    <div class="col-md-3">
        <div class="list-group">
          <a href="index.html" class="list-group-item active main-color-bg">
            分区漏算控制目标设定
          </a>
          <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> 区域装表法</span><span class="badge">5000</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 漏电估算法</span><span class="badge">142</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 漏失控制目标</span><span class="badge">142</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 压力设定优选</span><span class="badge">142</span></a>
          
        </div>
        
        <div class="list-group">
          <a href="index.html" class="list-group-item active main-color-bg">
            捡漏结果异常分析
          </a>
          
        </div>
    
    </div>

    <!-- 压力管理模块 -->
    <div class="col-md-3">
        <div class="list-group">
          <a href="index.html" class="list-group-item active main-color-bg">
            基础信息管理
          </a>
          <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> 当前策略</span><span class="badge">5000</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 当前运行状态</span><span class="badge">142</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 历史动作管理</span><span class="badge">142</span></a>
          
          
        </div>
        
        <div class="list-group">
          <a href="index.html" class="list-group-item active main-color-bg">
            动态/静态基础数据展示
          </a>
          <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true">  实时数据表展示 </span><span class="badge">42</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 实时曲线展示</span><span class="badge">142</span></a>
          <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true">  GIS展示 </span><span class="badge">42</span></a>
          
          
        </div>
        
        <div class="list-group">
          <a href="index.html" class="list-group-item active main-color-bg">
            压力控制形式选择
          </a>
          <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> 压力控制形式选择 </span><span class="badge">42</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 压力控制策略下发</span><span class="badge">142</span></a>
          
          
        </div>
        
    </div>
    
    <!-- 分析配置模块 -->
    <div class="col-md-3">
        <div class="list-group">
          <a href="index.html" class="list-group-item active main-color-bg">
            自动计算调整
          </a>
          <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> 修正系数</span><span class="badge">5000</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 漏失率</span><span class="badge">142</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 夜间最小流量</span><span class="badge">142</span></a>
          
          
        </div>
        
        <div class="list-group">
          <a href="index.html" class="list-group-item active main-color-bg">
            手动调整
          </a>
          <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> 修正系数</span><span class="badge">5000</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 漏失率</span><span class="badge">142</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 夜间最小流量</span><span class="badge">142</span></a>
          
          
        </div>
        
    </div>
    
    <!-- 营收管理模块 -->
    <div class="col-md-3">
        <div class="list-group">
          <a href="index.html" class="list-group-item active main-color-bg">
            表计管理
          </a>
          <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> 出厂流量计校验</span><span class="badge">5000</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 水表信息统计</span><span class="badge">142</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 水表鉴定与更换</span><span class="badge">142</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 大表监控</span><span class="badge">142</span></a>
          
        </div>
        
        
        
    </div>
    
    <!-- 管网捡漏模块 -->
    <div class="col-md-3">
        <div class="list-group">
          <a href="index.html" class="list-group-item active main-color-bg">
            预警应急流程
          </a>
          
        </div>
        <div class="list-group">
          <a href="index.html" class="list-group-item active main-color-bg">
            人员管理
          </a>
          
        </div>
        <div class="list-group">
          <a href="index.html" class="list-group-item active main-color-bg">
            捡漏任务管理
          </a>
          
        </div>
        
        <div class="list-group">
          <a href="index.html" class="list-group-item active main-color-bg">
            管网运营分析
          </a>
          <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> 检漏成果展示</span><span class="badge">5000</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 漏电分析</span><span class="badge">142</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 故障分析</span><span class="badge">142</span></a>
          
          
        </div>
        
    </div>
    
    <!-- 统计报表模块 -->
    <div class="col-md-3">
        <div class="list-group">
          <a href="index.html" class="list-group-item active main-color-bg">
            DMA考核指标计算
          </a>
          <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> 供水覆盖率</span><span class="badge">5000</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 管网漏损率</span><span class="badge">142</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 累计节水量</span><span class="badge">142</span></a>
          <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> 管理前后节水量对比</span><span class="badge">5000</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 单位节水量投入资金</span><span class="badge">142</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 水平衡统计</span><span class="badge">142</span></a>
          <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> 参考指标</span><span class="badge">5000</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 建设进程</span><span class="badge">142</span></a>
                    
        </div>
        
        <div class="list-group">
          <a href="index.html" class="list-group-item active main-color-bg">
            供水企业考核指标
          </a>
          <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> 供水覆盖率</span><span class="badge">5000</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true">示范城市示范区管网漏损率</span><span class="badge">142</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 累计节水量</span><span class="badge">142</span></a>
          <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> 管理前后节水量对比</span><span class="badge">5000</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 单位节水量投入资金</span><span class="badge">142</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 水平衡统计</span><span class="badge">142</span></a>
          
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 建设进程</span><span class="badge">142</span></a>
          
          <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> 大用户水量百分比</span><span class="badge">5000</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 主动漏水检出率</span><span class="badge">142</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> DMA平均漏失率</span><span class="badge">142</span></a>
          <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> DMA平均表观漏损率</span><span class="badge">5000</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 设备故障率</span><span class="badge">142</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 故障维修及时率</span><span class="badge">142</span></a>
          <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> 爆管发生率</span><span class="badge">5000</span></a>
          <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> 工作管理统计</span><span class="badge">142</span></a>
          <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> DMA覆盖管长占比</span><span class="badge">5000</span></a>
            <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> 新增漏失数量统计</span><span class="badge">5000</span></a>
            <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> 统计DMA总漏损量</span><span class="badge">5000</span></a>
            <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> 参考指标</span><span class="badge">5000</span></a>          
        </div>
        
        <div class="list-group">
          <a href="index.html" class="list-group-item active main-color-bg">
            报表统计
          </a>
          <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> 水平衡表</span><span class="badge">5000</span></a>
          <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> 水量统计报表</span><span class="badge">5000</span></a>
          <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> 节能水平评价表</span><span class="badge">5000</span></a>
          
        </div>
                
    </div>
    
    <!-- 高级应用模块 -->
    <div class="col-md-3">
        <div class="list-group">
          <a href="index.html" class="list-group-item active main-color-bg">
            管网压力预测
          </a>
          
        </div>
        <div class="list-group">
          <a href="index.html" class="list-group-item active main-color-bg">
            用户用水量的空间分布
          </a>
          
        </div>
        <div class="list-group">
          <a href="index.html" class="list-group-item active main-color-bg">
            压力控制/调整
          </a>
          
        </div>
        <div class="list-group">
          <a href="index.html" class="list-group-item active main-color-bg">
            区域管网熵情分析
          </a>
          
        </div>
        
    </div>