{% extends "dma/base.html" %}

{% block title %}DMA |economize {{ title }}{% endblock %}

<!-- head -->
{% block head %}
    
    <meta charset="utf-8">
    
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'dma/css/wbalance.css' %}" type = "text/css"/>

<style type="text/css">    

</style>
{% endblock %}

{% block content %}

    
    
    <div class="container" >
    
    
        
        
        <aside class="col-sm-3 ml-sm-auto blog-sidebar">
          
           <div id="treeview1" class="">
            {% include 'dma/includes/dmatree.html' %}
           </div>
          
        </aside><!-- /.blog-sidebar -->
        
        <div class="col-xs-7">
            <div class="row">
                <div class="col-xs-12">
                    <div class="tophead">
                        <h2>汇总资料</h2>
                    </div>
                </div>
            </div>
            <div class="row">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">资料</th>
                  <th scope="col">数据</th>
                  <th scope="col">备注</th>
                  
                </tr>
              </thead>
              <tbody>
              {% for key,summary in summary_content.items %}
                <tr>
                  <th scope="row">{{ loop.index }}</th>
                  <td>{{ summary.name }}</td>
                  <td>{{ summary.value }}</td>
                  <td>{{ summary.note }}</td>
                </tr>
                
              {% endfor %}
                
              </tbody>
            </table>
            
        </div>    
        
        
            
        </div>
        

    </div>
    <script src="{%  static 'dma/assets/jquery-2.2.4.min.js' %} "></script>

    
{% endblock %}