{% extends 'dma/_base.html' %}


{% block title %}漏损控制系统{% endblock %}


{% block stylesheet %}
{{ form.media }}
{% endblock %}


{% block content-header %}Tblinfo {% endblock %}




{% block content %}
    <h1 class="page-header">ems gis info</h1>
    
    <div id="chart-1">{{ output|safe }}</div>
    
    <form action="{% url 'home' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
    </form>
<h2 class="sub-header">Tblfminfo</h2>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>userid</th>
                <th>username</th>
                <th>simid</th>
                <th>reversetotalflux</th>

            </tr>
        </thead>
        <tbody>
        
            <tr>
                <td>{{ user.userid }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.simid }}</td>
                <td>{{ user.reversetotalflux }}</td>
            </tr>
        
        </tbody>
    </table>
</div>

<h2 class="sub-header">Community</h2>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>districtid</th>
                
            </tr>
        </thead>
        <tbody>
        
            <tr>
                <td>{{ comty.id }}</td>
                <td>{{ comty.name }}</td>
                <td>{{ comty.districtid }}</td>
                
            </tr>
        
        </tbody>
    </table>
</div>

<h2 class="sub-header">FlowShareDayTax</h2>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>readtime</th>
                <th>simid</th>
                <th>flux</th>
                <th>plustotalflux</th>
                <th>reversetotalflux</th>

            </tr>
        </thead>
        <tbody>
        {% for flow in flow_list %}
            <tr>
                <td>{{ flow.readtime }}</td>
                <td>{{ flow.simid }}</td>
                <td>{{ flow.flux }}</td>
                <td>{{ flow.plustotalflux }}</td>
                <td>{{ flow.reversetotalflux }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<h2 class="sub-header">PressShareDayTax</h2>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>readtime</th>
                <th>simid</th>
                <th>pressure</th>
                
            </tr>
        </thead>
        <tbody>
        {% for press in press_list %}
            <tr>
                <td>{{ press.readtime }}</td>
                <td>{{ press.simid }}</td>
                <td>{{ press.pressure }}</td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<h2 class="sub-header">Watermeter</h2>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>id</th>
                <th>wateraddr</th>
                <th>rvalue</th>
                <th>fvalue</th>
                <th>rtime</th>
                <th>communityid</th>
            </tr>
        </thead>
        <tbody>
        {% for wm in object_list %}
            <tr>
                <td>{{ wm.id }}</td>
                <td>{{ wm.wateraddr }}</td>
                <td>{{ wm.rvalue }}</td>
                <td>{{ wm.fvalue }}</td>
                <td>{{ wm.rtime }}</td>
                <td>{{ wm.communityid }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<h2 class="sub-header">HdbTianhouBig</h2>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>watermeterid</th>
                <th>rvalue</th>
                <th>fvalue</th>
                <th>rtime</th>
                <th>lastrvalue</th>

            </tr>
        </thead>
        <tbody>
        {% for th in th_list %}
            <tr>
                <td>{{ th.watermeterid }}</td>
                <td>{{ th.rvalue }}</td>
                <td>{{ th.fvalue }}</td>
                <td>{{ th.rtime }}</td>
                <td>{{ th.lastrvalue }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block javascript %}
<SCRIPT LANGUAGE="JavaScript">
var oTable;
var districtid = 0;
var communityid = 0;
var buildingno = "";

$(function(){
    loadTree();
});
function slotSelectChanged()
{
	var zTree = $.fn.zTree.getZTreeObj("tree");
	
	var nodes = zTree.getSelectedNodes();
	if(nodes.length)
	{
		var n = nodes[0];
		if(n.type == "local")
		{
			districtid = 0;
			communityid = 0;
			buildingno = "";
		}
		else if(n.type == "district")
		{
			districtid = n.id;
			communityid = 0;
			buildingno = "";
		}
		else if(n.type == "community")
		{
			districtid = n.pid;
			communityid = n.id;
			buildingno = "";
			
			searchForMeterDa();
		}
		else
		{
			districtid = n.getParentNode().pid;
			communityid = n.pid;
			buildingno = n.name;
			
			searchForMeterDa();
		}
	}
	else
	{
		districtid = 0;
		communityid = 0;
		buildingno = "";
	}
}

function loadTree()
{
   var _this = this;
   // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
   var setting = {
        async: {
				enable: true,
			},
        callback:{
			onClick:function(){_this.slotSelectChanged();}
		},
		check: {
			enable: false
		},
		data: {
			simpleData: {
				enable: true
			}
		},
        view: {
			showLine: false,
			showIcon: true,
			selectedMulti:false,
			expandSpeed: "fast"
		}
    };
        
    $.ajax({
        type:"POST",
        url:"/dma/getztree" , 
        dataType: "json",
		data:{'csrfmiddlewaretoken': '{{ csrf_token }}'},
        success:function(res){
            var json = res['trees']				
            $.fn.zTree.init($("#treeDemo"), setting, json);
            var zTree = $.fn.zTree.getZTreeObj("treeDemo");
            
        }
    });
}    
        
  </SCRIPT>
{% endblock %}

{% block sidebar %}
    <br><br>
    <div>
       <ul id="treeDemo" class="ztree"></ul>
    </div>
{% endblock %}