
{% extends 'dma/_base.html' %}


{% block title %}压力管理模块{% endblock %}

{% block javascript %}
  <script>
  var id=1;
  $( document ).ready(function() {
       setInterval(function(){
       
       $.ajax({
        url: '/dma/press_value',
        data: {'pid': id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        type: 'POST',
        success: function(res){
            var json = res['press'];
            var tr;
            $('#myTable span').html("");
            
            
            $('#myTable span').html(json);
            //this_.dimTexts = geojsonObject.dimTexts;
        }
    });
    id+=1;
       },3000);
    });

  </script>
{% endblock %}

{% block content %}
    <h1 class="page-header">压力管理模块</h1>
    
    <div id="right">
        <h2 id="myTable">压力值:<span></span></h2>
        
    </div>
    
{% endblock %}    
