
{% extends 'dma/_base.html' %}


{% block title %}压力管理模块{% endblock %}

{% block javascript %}
  <script>
  $( document ).ready(function() {
       setInterval(function(){
            $.getJSON("{% url 'press_value' %}",
                    function (data) {
                        var json = data['latest_results_list'];
                        var tr;
                         $('#myTable tbody').html("");
                        for (var i = 0; i < json.length; i++) {
                            tr = $('<tr/>');
                            tr.append("<td>" + json[i] + "</td>");
                            
                             $('#myTable tbody').append(tr);

                        }
                    });
       },5000);
    });

  </script>
{% endblock %}

{% block content %}
    <h1 class="page-header">压力管理模块</h1>
    
    <div id="right">
        <table id ='myTable'>
            <thead>
            <tr>
              <th>Date</th>
              
            </tr>
            </thead>
            <tbody >
                 {% for b in latest_results_list %}
                     <tr>
                     <td>{{ b }}</td>
                     
                     </tr>                 
                 {% endfor %}
            </tbody >        
        </table>
    </div>
    
{% endblock %}    
