
{% extends 'dma/base.html' %}
{% load bootstrap3 %}


{% block title %}统计报表模块{% endblock %}

{% block content %}
    
    <section id="main">
        <div class="container">
            <div class="row">
                {% include "dma/includes/left/report.html"  %}
                {% block report_content %}
                
                {% endblock report_content%}
            </div>
        </div>
    </section>
    
    {% if content %}
        {% for c in content %}
            <p>{{ c }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}