{% extends 'dma/_base.html' %}


{% block title %}分区管理模块{% endblock %}

{% block sidebar %}

{% include 'dma/includes/dmatree.html' %}
{{ block.super }}
{% endblock %}

{% block content %}
<h1 class="page-header">案例 1 天津市供水管网分区计量管理案例</h1>
<h2 class="sub-header">实施路线</h2><span> 自上而下。<span>
<h2 class="sub-header">实施路线选择</h2> 结合天津市供水管网现状和地理条件，
利用供水管网途经的河流、铁路等物理屏障，考虑行政管理
区划确定分区边界，确定了自上而下的进行分区的实施路线。
<h2 class="sub-header">实施过程</h2>
<ul>
<li>第一阶段， 制定分区计量实施规划，开展
计量仪表选型。在确定分区实施路线的基础上，制定了三级
计量管理体系规划，并制定了分年度具体实施工作计划。首
先开展分区计量仪表选型工作。在计量仪表的选择过程中，
主要考虑： 1）是否运行稳定、可靠、并有成熟使用经验； 2）
具备数字信号无线传输接口或无线传输功能； 3）防护等级
IP68 潜水型，满足一定恶劣条件下的防腐要求； 4）售后服
务业绩好、价格合理等。经过综合比较，确定分区计量仪表
选型以电磁流量计及多声道超声波流量计为主。针对天津市
分区计量的数据采集点多且分散，以及户外环境条件差的特
点，在考虑成本的前提下，采用 GPRS 通讯，建立了无线数
据采集系统，并开发了数据管理系统，便于数据在线监测、
查询分析。</li>
<li>第二阶段， 建设一级分区。沿海河、北运河过河管加装
9 个流量计，将市区供水系统一分为二，形成了市南与市北
两大区域， 完成了一级计量区域的划分， 并调整了管理模式。
按计量区域划分市南营业分公司和市北营业分公司，负责各
自区域内的营业抄收管理。分区计量后可掌握两个营业分公
司区域进水量，实现了两个区域漏损率和产销差率指标考核
管理。管网分公司依旧负责整个供水系统管网的维护与管理，
也承担相应的指标考核责任。</li>
<li>第三阶段， 建立二级分区。在一级分区的基础上，对市
南及市北区域继续实施区域划分，共计加装了 98 具流量计，
划分了 13 个二级分区，按照营管合一模式组建 10 个营销分
公司。</li>
<li>第四阶段， 建立三级分区。分公司在各自区域内，开展
三级分区计量的划分工作。在 13 个二级区域内加装 76 具流
量计，划分 27 个三级计量区，在漏损率、漏损量分析上更加
精细（图 F-4-1）。</li>
<img src="/static/dma/img/tianjin.png"></img>
图 F-4-1 天津自来水集团三级分区计量示意图
<li>第五阶段，建设 DMA 试点，选择 6 个居民小区，将考
核水表更换为流量计，同时安装压力传感器，开展独立计量
区（ DMA）试点运行管理。</li>
</ul>
<h2 class="sub-header">主要做法</h2>
<ul>
<li>分区实施与营收重新组合。 在进行二级分区实施的
同时，进行了管理调整。将管网、营业业务合并，形成了“营
管合一”的营销分公司。营销分公司负责人做为分区“模拟
法人”， 全面负责该区域内的管网漏损及管网维护、 营业抄收、
供水服务等。充分利用分区后能实时掌握区域进水量这一优
势，进行指标量化考核管理。</li>
<li>实行分区模拟法人责任制。 每年初集团公司与分公
司经营者（模拟法人）签订《经营目标责任书》，确定考核内
容及年薪收入，年终进行指标考核。《经营目标责任书》各类
指标中，最重要的否决性指标为售水收入指标。该指标是按
照区域年度实际供水量× （ 1－漏损率指标） ×各类水价×各
类回收率指标进行计算，责任单位实际售水收入如果超出指
标值，按一定比例予以奖励。未达到指标的模拟法人不予执
行年薪。 责任单位管理者在所辖区域的管网维护、 管网管理、
营业抄收、成本核算、奖金分配、人员调配等方面有一定自
主权，同时也负责完成集团公司每年下达的各项指标及任务，
实现责、权、利的统一。</li>
<li>同步推进二次供水设施管理。 天津市自 2012 年至
2016 年组织实施了二次供水设施提升改造项目，并于 2016
年底开始实施中心城区及远年住房改造项目，改造项目实现
二次供水设施的统建、统管模式。 在水量计量方面，改造后
的二次供水泵房按照要求全部安装流量计量装置，通过夜间
小流量时段（凌晨 2 点到 4 点）对数据的监控，可以准确判
断二次供水管网跑水、漏水情况，实现终端计量监控。对于
居住人口多的小区，建设多个泵房，更加准确地判断漏损事
故范围，快速查找事故点位，减少损失。 在水质保障方面，
对远年住房改造项目，根据实际情况选择性地安装水质在线
监测仪表（浊度、余氯、 pH），通过对远传数据的在线监测，
及时发现问题、解决问题，确保二次供水水质安全。 在管理
方面， 天津市先后制定并出台了《天津市二次供水设施清洗
消毒管理办法》、《关于加强本市二次供水设施竣工验收报告
备案管理的通知》 等文件及 《天津市二次供水工程技术规程》、
《天津市叠压供水技术规程》等标准，对二次供水设施的建
设、维护和管理工作进行了规范，有效保证了二次供水的运
行安全和水质安全。</li>
<li>城镇供水主管部门全程督导。 天津市供水主管部门
全程督办分区工作的实施，帮助协调解决实施过程中的相关
问题，确保分区工作顺利开展。每月对供水量、售水量、漏
损率及二供、水质等主要指标进行监督考核，督促企业制定
有效措施，完成好年度下达的指标任务。</li>
</ul>
<h2 class="sub-header">成效</h2>
<p>通过实施多级分区计量精细管理，缩小了区域管理范围，
准确掌握了各分区漏损量，明确了模拟法人的责任和权利，
统一了分区内的控损增收职能，提高了模拟法人的积极性，
收到明显效果。实施供水管网分区计量管理后，天津市中心
城区供水管网漏损率稳步下降， 2016 年供水管网基本漏损率
为 11.33%。</p>

{% endblock %}